<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0 sticky-navbar">
    <a href="" class="navbar-brand p-0">
      <h1 class="text-primary m-0">Boutique</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <a href="/" class="nav-item nav-link active">Home</a>
        <a href="/about" class="nav-item nav-link">About</a>
        <a href="/gallery" class="nav-item nav-link">Gallery</a>
        <a href="/contact" class="nav-item nav-link">Contact</a>
        <a href="/bookings" class="nav-item nav-link">Booking</a>
      </div>
    </div>
  </nav>